body{
    margin: 0px;
    font-family: 'Arial' serif;
    background-color: #f5f5f5;
    direction:rtl;
}
.landing{
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(235, 231, 231);
    box-shadow: 0 0 0 10px rgba(0,0,0,0,1);    
}

.landing img{
    max-width:100%;
    border-radius:30px ;
}
h1{
    color: #333;
    font-size: 36px;
}
p{
    color: #555;
    font-size: large;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 80%;
    max-width: 400px;
    padding: 12px;
    font-size: large;
    margin-bottom: 15px;
    border-radius: 10px;
    border:none ;
}
.cta-button:hover{
    background-color: #a60000;
}


.cta-button{
    background-color: #d11f1f;
    color: white;
    padding: 10px 20px;
    font-size:18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition:background-color 0.3s ease ;
}
